@import "tailwindcss";

@plugin 'tailwind-scrollbar-hide';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --grid-template-columns-res: repeat(auto-fill, minmax(20rem, 1fr));
  --grid-template-columns-res-controllers: repeat(auto-fill,
      minmax(min(100%, 14rem), 1fr));

  --content-home: url("/src/assets/home.svg");

  --list-style-image-checkmark: url("/src/assets/typescript.png");

  --shadow-Nbutton: 0px 0px 8px 5px rgb(0 0 0 / 0.1);
  --shadow-button: 0px 2px 4px 1px rgba(0, 0, 0, 0.4);

  /* Dark mode */

  --color-font: #ffffffde;
  --color-font-highlight: #15bffd;

  --color-description: #939393;
  --color-primary: #2d2d2d;
  --color-secodary: #00ffc9;
  --color-gray-message: #484848;
  --color-gray: #ffffff34;
  --color-table: #393a3c;
  --color-disabled: #6b6b6b;
  --color-background-highlight: #1f2227;
  --color-background-highlight-transparent: #1f222794;

  --color-blue-highlight: #1f2227;
  --color-blue-highlight-transparent: #1f222794;

  --color-blue-hight-transparent: #1f222794;
  --color-outline-effect1: #15bffd;
  --color-outline-effect2: #71ffe0;

  /* Light mode */

  --color-font-light: #000000bf;
  --color-font-highlight-light: #00d2c7;
  --color-description-light: #00000073;
  --color-primary-light: #ebeaea;
  --color-secodary-light: #314eee;
  --color-gray-message-light: #f0f0f0;
  --color-gray-light: #ffffff34;
  --color-table-light: #393a3c;
  --color-disabled-light: #6b6b6b;
  --color-background-highlight-light: #fcfcfd;
  --color-background-highlight-transparent-light: #fcfcfd;

  --color-blue-highlight-light: #1f2227;
  --color-blue-highlight-transparent-light: #1f222794;
  --color-blue-hight-transparent-light: #1f222794;
  --color-outline-effect1-light: #15bffd;
  --color-outline-effect2-light: #71ffe0;

  /* Animations */

  --animate-wiggle: wiggle 1s infinite;
  --animate-moveUpDown: moveUpDown 1s infinite;
  --animate-arrowInitial: arrowInitial 1s infinite;

  @keyframes wiggle {
    0% {
      outline-color: #15bffd;
    }

    50% {
      outline-color: #71ffe0;
    }

    100% {
      outline-color: #15bffd;
    }
  }

  @keyframes arrowInitial {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes moveUpDown {
    0% {
      opacity: 0;
      transform: translateY(-60px);
    }

    10% {
      opacity: 1;
      transform: translateY(0px);
    }

    90% {
      opacity: 1;
      transform: translateY(0px);
    }

    100% {
      opacity: 0;
      transform: translateY(-60px);
    }
  }
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility outline-wiggle {
  @apply outline-[#15bffd] hover:outline-[7px] outline-[7px] hover:animate-wiggle rounded-[1px];
}

@utility outline-wiggle-focus {
  @apply outline-[#15bffd] focus-visible:outline-[7px] focus-visible:animate-wiggle rounded-[1px] hover:animate-wiggle hover:outline-[7px] transition-[outline_color] cursor-pointer;
}

@utility bg-blue-hight-focus {
  @apply hover:bg-blue-highlight focus-visible:bg-blue-highlight;
}

@utility bg-blue-hight-focus-transparent {
  @apply hover:bg-blue-highlight-transparent focus-visible:bg-blue-highlight-transparent;
}

@utility background-highlight {
  @apply hover:bg-background-highlight-light focus-visible:bg-background-highlight-light dark:hover:bg-background-highlight dark:focus-visible:bg-background-highlight;
}

@utility background-highlight-transparent {
  @apply hover:bg-background-highlight-transparent-light focus-visible:bg-background-highlight-transparent-light dark:hover:bg-background-highlight-transparent dark:focus-visible:bg-background-highlight-transparent;
}

@utility text-description-message {
  @apply text-[2rem]/10 text-description pt-3 pr-3
}

@layer components {
  .highlight-selection {
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.15s, outline-color 0.15s;
  }

  .highlight-selection:hover {
    outline: 7px solid #15bffd;
    animation: wiggle 1s infinite;
    background-color: var(--color-blue-highlight);
  }

  .highlight-selection:focus-visible {
    outline: 7px solid #15bffd;
    animation: wiggle 1s infinite;
    background-color: var(--color-blue-highlight);
  }

  .highlight-selection-light {
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.15s, outline-color 0.15s;
  }

  .highlight-selection-light:hover {
    outline: 7px solid #15bffd;
    animation: wiggle 1s infinite;
    background-color: var(--color-blue-highlight-transparent);
  }

  .highlight-selection-light:focus-visible {
    outline: 7px solid #15bffd;
    animation: wiggle 1s infinite;
    background-color: var(--color-blue-highlight-transparent);
  }
}

@layer utilities {
  :root {
    /* font-family: 'Heebo', sans-serif; */
    font-family: "Roboto", sans-serif;

    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-font-light);
    background-color: var(--color-primary-light);

    @variant dark {
      color: var(--color-font);
      background-color: var(--color-primary);
    }

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
}

#root {
  display: grid;
  height: 100vh;
  grid-template-rows: 90% 10%;
}

input[type="range"] {
  height: 60px;
  -webkit-appearance: none;
  background-color: transparent;
  margin: 10px 0;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  /* cursor: pointer; */
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #00ffc9;
  border-radius: 5px;
  border: 0px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 4px solid #767676;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background: #5c5c5c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -24px;
  transition: border .3s ease-in-out;
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 6px solid #00ffc9;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background: #5c5c5c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -24px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #00ffc9;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #00ffc9;
  border-radius: 5px;
  border: 0px solid #000000;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 4px solid #ff0303;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #5c5c5c;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #00ffc9;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-fill-upper {
  background: #00ffc9;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 4px solid #ff0303;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #5c5c5c;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #00ffc9;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #00ffc9;
}
